<!DOCTYPE html>
<html lang="es">
<head>
    <meta charseet="UFT-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TiAU Inicio</title>
    <link rel="stylesheet" href="../static/css/index-stylesheet.css"> 
    <link rel="stylesheet" href="../static/css/universal-stylesheet.css">
    <link rel="icon" href="../static/images/upc-logo-red.webp" type="image\webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="landing-page">
        <div class="idk-filler LP">
            <div class="tiau-logo">
                <img src="..\static\images\tiau-logo_svg.svg" alt="tiau-logo_svg">
            </div>
            <div class="colors-filler">
                <div class="yellow-filler"></div>
                <div class="orange-filler"></div>
                <div class="pink-filler"></div>
            </div>
        </div>
        <div class="landing-page-login LP">
            <div class="login-box-container">
                <div class="welcome-header">
                    <h1>Bienvenido a TiAU!</h1>
                </div>
                <div class="welcome-msg">
                    Inicie sesion con los datos que uso durante el registro.
                </div>
                <div class="login-field">
                    <form action = "process_login" method = "post">
                        <div class="login-field-email-input">
                            <label for = "correo">Correo electronico</label>
                            <br>
                            <input class="input-primary" name="correo" id="correo" placeholder="ejemplo@email.com" required>    
                        </div>
                        <div class="login-field-password-input">
                            <label for = "contrasenia">Contrasenia</label>
                            <br>
                            <input class="input-primary" type="password" name="contrasenia" id="passwordField" placeholder="Ingrese contrasenia" required>
                        </div>
                        <a href="{{ url_for('homepage') }}">
                            <input class="button-primary login-button" type="submit" value="Ingresar!">
                        </a>
                </div>
                <div class="register-text">
                    <!--No tienes cuenta? Registate <a href="..\templates\registro.html">aqui.</a>-->
                    No tienes cuenta? Registate <a href="{{ url_for('registro') }}">aqui.</a>
                </div>
            </div>
            <div class="footer-info">
                Proyecto universitario de la UPC - Sistemas Operativos
                <div class="footer-info-linebreak">
                    <div></div>
                    <a href="https://www.upc.edu.pe/" target="_blank"><img src="..\static\images\upc-logo-grey.png" alt="upc-logo-grey"></a>
                    <div></div>
                </div>
                Bruce Fleck - Marco Mendez - Sebastian Cataño
            </div>
        </div>
    </div>
</body>

</html>
